@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: 'Press Start 2P', system-ui, sans-serif;
}

.image-rendering-pixelated {
  image-rendering: pixelated;
}
